In [1]:
import json
import csv
import pandas as pd
import datetime

In [2]:
df = pd.read_json("AMA_merged.json")
df

,nickname,wxid,Local_id,Local_type,Timestamp,Text
0,25 æŠ€ç§‘ æ¢å»ºè¼,wxid_bk2z2t2ychyn22,2,1,2025-09-04 03:52:12,ğŸ‘€
1,25 åŒ¡é™¢ è‹æ¶µç‘œ,wxid_9hpjr3hpy6th22,3,1,2025-09-04 03:52:17,ğŸ‘€
2,25 æŠ€ç§‘ æ¢å»ºè¼,wxid_bk2z2t2ychyn22,5,1,2025-09-04 03:52:28,ä½ ä¸ä¹˜å™¢
3,ä¾é¸£,wxid_g7u000tjc91t22,6,1,2025-09-04 03:52:50,ğŸ‘€
4,25 æŠ€ç§‘ å€ªç¿è±,wxid_mugbf0fhylqf22,8,1,2025-09-04 03:53:07,ğŸ‘€
...,...,...,...,...,...,...
27143,ä¾é¸£,wxid_g7u000tjc91t22,1850,47,2025-10-13 01:59:58,[è¡¨æƒ…åŒ…]
27144,ä¾é¸£,wxid_g7u000tjc91t22,1851,47,2025-10-13 02:00:06,[è¡¨æƒ…åŒ…]
27145,ä¾é¸£,wxid_g7u000tjc91t22,1852,47,2025-10-13 02:00:13,[è¡¨æƒ…åŒ…]
27146,ä¾é¸£,wxid_g7u000tjc91t22,1853,47,2025-10-13 02:03:03,[è¡¨æƒ…åŒ…]
27147,ä¾é¸£,wxid_g7u000tjc91t22,1854,47,2025-10-13 02:03:42,[è¡¨æƒ…åŒ…]

In [3]:
filtered_df = df[df['Local_type'] == 1]
filtered_df

,nickname,wxid,Local_id,Local_type,Timestamp,Text
0,25 æŠ€ç§‘ æ¢å»ºè¼,wxid_bk2z2t2ychyn22,2,1,2025-09-04 03:52:12,ğŸ‘€
1,25 åŒ¡é™¢ è‹æ¶µç‘œ,wxid_9hpjr3hpy6th22,3,1,2025-09-04 03:52:17,ğŸ‘€
2,25 æŠ€ç§‘ æ¢å»ºè¼,wxid_bk2z2t2ychyn22,5,1,2025-09-04 03:52:28,ä½ ä¸ä¹˜å™¢
3,ä¾é¸£,wxid_g7u000tjc91t22,6,1,2025-09-04 03:52:50,ğŸ‘€
4,25 æŠ€ç§‘ å€ªç¿è±,wxid_mugbf0fhylqf22,8,1,2025-09-04 03:53:07,ğŸ‘€
...,...,...,...,...,...,...
27136,25 æŠ€ç§‘ å€ªç¿è±,wxid_mugbf0fhylqf22,1840,1,2025-10-13 01:59:14,æˆ‘åœ¨å¯å®¤åˆ·æ–‡æ¡£éƒ½èƒ½æ²‰æ²‰ç¡å»
27137,25 æŠ€ç§‘ å€ªç¿è±,wxid_mugbf0fhylqf22,1841,1,2025-10-13 01:59:16,æ˜¯çš„
27138,25 æŠ€ç§‘ å€ªç¿è±,wxid_mugbf0fhylqf22,1842,1,2025-10-13 01:59:26,6:45é›†åˆ
27140,åœ†é”¥æ›²çº¿,wxid_m76swlb22bn132,1844,1,2025-10-13 01:59:35,å…¨ä½“å—
27142,25 æŠ€ç§‘ å€ªç¿è±,wxid_mugbf0fhylqf22,1847,1,2025-10-13 01:59:45,æ˜¯çš„

In [4]:
clean_df = df[["wxid", "Timestamp", "Text"]]
clean_df

                      wxid           Timestamp   Text
0      wxid_bk2z2t2ychyn22 2025-09-04 03:52:12      ğŸ‘€
1      wxid_9hpjr3hpy6th22 2025-09-04 03:52:17      ğŸ‘€
2      wxid_bk2z2t2ychyn22 2025-09-04 03:52:28   ä½ ä¸ä¹˜å™¢
3      wxid_g7u000tjc91t22 2025-09-04 03:52:50      ğŸ‘€
4      wxid_mugbf0fhylqf22 2025-09-04 03:53:07      ğŸ‘€
...                    ...                 ...    ...
27143  wxid_g7u000tjc91t22 2025-10-13 01:59:58  [è¡¨æƒ…åŒ…]
27144  wxid_g7u000tjc91t22 2025-10-13 02:00:06  [è¡¨æƒ…åŒ…]
27145  wxid_g7u000tjc91t22 2025-10-13 02:00:13  [è¡¨æƒ…åŒ…]
27146  wxid_g7u000tjc91t22 2025-10-13 02:03:03  [è¡¨æƒ…åŒ…]
27147  wxid_g7u000tjc91t22 2025-10-13 02:03:42  [è¡¨æƒ…åŒ…]

[27148 rows x 3 columns]

In [5]:
first_266df = clean_df.head(266)
first_266df

,wxid,Timestamp,Text
0,wxid_bk2z2t2ychyn22,2025-09-04 03:52:12,ğŸ‘€
1,wxid_9hpjr3hpy6th22,2025-09-04 03:52:17,ğŸ‘€
2,wxid_bk2z2t2ychyn22,2025-09-04 03:52:28,ä½ ä¸ä¹˜å™¢
3,wxid_g7u000tjc91t22,2025-09-04 03:52:50,ğŸ‘€
4,wxid_mugbf0fhylqf22,2025-09-04 03:53:07,ğŸ‘€
...,...,...,...
261,wxid_w5cck44ymfhi22,2025-09-04 08:49:51,251870
262,wxid_1vaqhsp5n5hs22,2025-09-04 08:51:13,870æ˜¯å·¥è¯•
263,wxid_mugbf0fhylqf22,2025-09-04 08:52:47,æææˆ‘çš„issue
264,wxid_mugbf0fhylqf22,2025-09-04 08:53:00,https://nova.yuque.com/ph25ri/ygqsv9/ihxqr4ol8...
265,wxid_1vaqhsp5n5hs22,2025-09-04 08:53:27,å¯ä»¥æ‹¼å›¢

In [7]:
# 6ï¸âƒ£ ä¿å­˜ç»“æœ
clean_df.to_csv("ama_message.csv", index=False, encoding="utf-8-sig")

print(f"âœ… å·²æˆåŠŸæå– {len(clean_df)} æ¡æœ‰æ•ˆæ¶ˆæ¯ã€‚")
print("ğŸ‰ è¾“å‡ºæ–‡ä»¶: ama_done.csv")
print(clean_df.head(10))

âœ… å·²æˆåŠŸæå– 27148 æ¡æœ‰æ•ˆæ¶ˆæ¯ã€‚
ğŸ‰ è¾“å‡ºæ–‡ä»¶: ama_done.csv
                  wxid           Timestamp               Text
0  wxid_bk2z2t2ychyn22 2025-09-04 03:52:12                  ğŸ‘€
1  wxid_9hpjr3hpy6th22 2025-09-04 03:52:17                  ğŸ‘€
2  wxid_bk2z2t2ychyn22 2025-09-04 03:52:28               ä½ ä¸ä¹˜å™¢
3  wxid_g7u000tjc91t22 2025-09-04 03:52:50                  ğŸ‘€
4  wxid_mugbf0fhylqf22 2025-09-04 03:53:07                  ğŸ‘€
5  wxid_ribvfadnmikw22 2025-09-04 03:53:07       ä¹‹å‰åœ¨é£Ÿå ‚å¶é‡çš„[æ‚è„¸]
6  wxid_ribvfadnmikw22 2025-09-04 03:53:20  @25 åŒ¡é™¢ è‹æ¶µç‘œâ€…æˆ‘åœ¨ä½ å³å‰æ–¹
7  wxid_1vaqhsp5n5hs22 2025-09-04 03:53:21            åœ¨ä¼šè®®ä¸Šå›å¿†å—
8  wxid_mugbf0fhylqf22 2025-09-04 03:53:21             ä½ ä¸Šè¯¾ä¸ä¹˜å™¢
9  wxid_dkg4wum8hbxe22 2025-09-04 03:53:23               xmç¤¾ç‰›